@{
    ViewData["Title"] = "Home Page";
}

@*<div ng-app="app" ng-controller="HomeController">
        NAME:
        <input type="text" name="name" ng-model="name" />
        <br />
        <ul>
            <li ng-repeat="cust in customers | filter:name | orderBy:'city'">{{cust.name | uppercase}} - {{cust.city}}</li>
        </ul>
    </div>

    <script src="~/js/Simular/simularPeriodo.js"></script>
*@
